body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 200%;
    margin-top: 160px;
    transition: 2s;
}

h1:hover {
    transform: scale(1.3);
}

.form-login {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin:0px auto;
    width: 300px;
    margin-top: 40px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 140%;
}

.btn:hover {
    transform: scale(1.1);
}
